<!-- COLUMN 2 -->
<div id="col2" class="pure-u-1 pure-u-lg-10-24 text-left text-grey">
    <%- include homepage/work %>

    <%- include homepage/education %>

    <%- include homepage/interests %>
</div>
