<!-- COLUMN 1 -->
<div id="col1" class="pure-u-lg-5-24 pure-u-md-1 shadow">

    <!-- PORTRAIT -->
    <img src="images/portrait.jpg" alt="My Portrait" style="width: 100%;"/>
    <button id="showLeft" type="button" class="showLeft btn btn-primary" style=""><i class="fa fa-bars"></i></button>

    <h3 class="name">Henri CAZOTTES</h3>

    <!-- SHORT DESCRIPTION -->
    <div class="pure-g margin-top">
        <div class="pure-u-1-4">
            <i class="fa fa-user icone"></i>
        </div>
        <div class="pure-u-3-4 delimiter-down text-left spacing-normal">

            <p class="letter-spacing">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua . Ld do eiusmod tempor incididunt ut labore et dolore magna aliqua

            </p>
            <br/>
        </div>
    </div>

    <!-- PHONE -->
    <div class="pure-g margin-top">
        <div class="pure-u-1-4">

            <i class="fa fa-phone icone"></i>
        </div>
        <div class="pure-u-3-4 delimiter-down text-left spacing-normal">
            <h3>+336 51 88 22 17</h3>
            <p>
                Mobile<br/>
            </p>
            <br/>
        </div>
    </div>

    <!-- EMAIL -->
    <div class="pure-g margin-top">
        <div class="pure-u-1-4">

            <i class="email fa fa-envelope-o icone"></i>

        </div>
        <div class="pure-u-3-4 delimiter-down text-left spacing-normal">

            <p>
                <a href="mailto:henri.cazottes@gmail.com">henri.cazottes@gmail.com</a><br/>
            </p>
            <br/>
        </div>

    </div>

    <!-- ADDRESS -->
    <div class="pure-g margin-top">
        <div class="pure-u-1-4 ">

            <i class="fa fa-home icone"></i>


        </div>
        <div class="pure-u-3-4 delimiter-down text-left">

            <p>
                10 Allée des Sciences Appliquées<br/>
                Appt 1565<br/>
                31400 Toulouse
            </p>
        </div>
        <br/>
    </div>

    <!-- SKILLS -->
    <div class="pure-g margin-top margin-bottom">
        <div class="pure-u-1-4">

            <i class="fa fa-check-square-o icone"></i>

        </div>
        <div class="pure-u-3-4 text-left">
            <p><h3>Technical skills</h3>
              <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
              </ul>
            </p>
        </div>
        <br/>
    </div>

</div>

<div class="pure-u" style="width: 20px;"></div>
