<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <div class="header">
      <h3 style="display: inline-block;">Menu</h3>
      <span style="display: inline-block; float: right;" class="showLeft"><i class="fa fa-times"></i></span>
  </div>
  <a href="/">About</a>
  <a href="/projects">Projects</a>
  <a href="/download">Download</a>
  <a href="/contact">Contact</a>
</nav>
