<!-- Education -->
<div class="pure-g shadow block margin-top">
    <div class=" pure-u-1-6 center">
        <h1><i class="fa fa-graduation-cap icone-big"></i></h1>
    </div>
    <div class=" pure-u-5-6">
        <h1>Education</h1>
        <div class="delimiter-down-grey">
            <h3>First year Master Degree - Computer Sciences & Telecommunication</h3>
            <p>
                <span class="date">SEPT 2015 - NOW</span><br/>
                Institut National des Sciences Appliquées - FRANCE</p>
            <br/>
        </div>
        <div class="delimiter-down-grey">
            <h3>ERASMUS Semester</h3>
            <p>
                <span class="date">JAN 2013 - DEC 2013</span><br/>
                Linköping University - SWEDEN</p>
            <br/>
        </div>
        <div>
            <h3>High School Diploma in Science</h3>
            <p>
                <span class="date">JUN 2012</span><br/>
                Bellevue High School - FRANCE</p>
            <br/>
        </div>
    </div>
</div>
