<!-- Interests -->
<div class="pure-g shadow block margin-top margin-bottom padding-bottom">
    <div class="pure-u-1-6 center">
        <h1><i class="fa fa-star icone icone-big"></i></h1>
    </div>
    <div class="pure-u-5-6">
        <h1>Interests</h1>
        <div class="pure-g center">
            <div class=" pure-u-1-6">
                <i class="fa fa-laptop icone-big "></i>
            </div>
            <div class=" pure-u-1-6">
                <i class="fa fa-bolt icone-big "></i>
            </div>
            <div class=" pure-u-1-6">
                <i class="fa fa-wrench icone-big "></i>
            </div>
            <div class=" pure-u-1-6">
                <i class="fa fa-music icone-big "></i>
            </div>
            <div class=" pure-u-1-6">
                <i class="fa fa-camera-retro icone-big "></i>
            </div>
            <div class=" pure-u-1-6">
                <i class="fa fa-futbol-o icone-big "></i>
            </div>
        </div>
    </div>
</div>
