<!-- Work Experience -->
<div class="pure-g shadow block">
    <div class="pure-u-1-6 center">
        <h1><i class="fa fa-suitcase icone-big"></i></h1>
    </div>
    <div class=" pure-u-5-6">
        <h1>Work Experience</h1>
        <div class="delimiter-down-grey">
            <h3>Blablabl</h3>
            <p>
                <span class="date">JAN 2013 - DEC 2013</span><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <br/>
        </div>
        <div class="delimiter-down-grey">
            <h3>Blablabl</h3>
            <p>
                <span class="date">JAN 2013 - DEC 2013</span><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <br/>
        </div>
        <div>
            <h3>Blablabl</h3>
            <p>
                <span class="date">JAN 2013 - DEC 2013</span><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <br/>
        </div>
    </div>
</div>
