<!-- Education -->
<div class="pure-g shadow block margin-top">
    <div class=" pure-u-1-6 center">
        <h1><i class="fa fa-graduation-cap icone-big"></i></h1>
    </div>
    <div class=" pure-u-5-6">
        <h1>Gamecube Portable</h1>
        <div class="delimiter-down-grey">
            <h3>Un projet réallisé à cheval sur mon année de terminale et 1ere année de prépa intégrée.</h3>
            <p>
                <span class="date">SEPT 2012 - JUN 2013</span><br/>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/AL6NAbGPhVw" frameborder="0" allowfullscreen></iframe>
            </p>
            <br/>
        </div>
        <div class="delimiter-down-grey">
            <h3>ERASMUS Semester</h3>
            <p>
                <span class="date">JAN 2013 - DEC 2013</span><br/>
                Linköping University - SWEDEN</p>
            <br/>
        </div>
        <div>
            <h3>High School Diploma in Science</h3>
            <p>
                <span class="date">JUN 2012</span><br/>
                Bellevue High School - FRANCE</p>
            <br/>
        </div>
    </div>
</div>
